.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
    background-color: #0000; 
    color: white;
  }
  
  .nav-title {
    margin-right:50%;
    font-size: 25px;
  }
  
  .nav-items {
    display: flex;
    font-size: 20px;
  }
  
  .nav-items a {
    margin-right: 50px; 
    text-decoration: none;
    color: inherit;
  }

  

.welcome-container {
  width: 40%; 
  margin-top: 10%;
  margin-left: 5%;
  padding: 45px; 
  border-radius: 20px; 
  background: linear-gradient(to right, #1A5F7C, #771B80);
  display: flex;
  flex-direction: column; 
  position: relative;
  animation: fadeIn 1s ease-in-out;
}




.welcome-container::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 20px; 
  background: radial-gradient(circle at 100% 100%, rgba(26, 95, 124, 0.5), rgba(119, 27, 128, 0.5));
  z-index: -1; 
  filter: blur(30px);
  box-shadow: 0 0 50px rgba(26, 95, 124, 0.7), 0 0 60px rgba(119, 27, 128, 0.7);
  filter: drop-shadow(0 0 70px #1A5F7C), drop-shadow(0 0 70px #771B80);
}

.wc-top {
  color: white; 
  padding: 7px;
  background-color: black;
  border: solid 1px white;
  border-radius: 35px;
  width: 39%;
  align-self: flex-start; 
}

.wc-button-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-top: 30px;
}

.wc-button {
  margin-top: 30px;
}

.wc-text {
  color: white; 
  width: 80%;
  font-size: 18px;
  margin-top: 1px; 
}
.wc-title{
  color: white; 
  width: 80%;
  margin-top: 8px; 
  font-size: large;
}

.wc-button button {
  color: black; 
  background-color: white; 
  border: 1px solid white; 
  border-radius: 30px; 
  padding: 10px 20px; 
  font-size: 16px; 
}

.wc-button button:hover {
  background-color: #000000; 
  color: white;
}

.wc-contact {
  color: white;
  display: flex; 
  align-items: center; 
  margin-right: 70%;
  margin-top: 32px;
  font-size: 18px;
  white-space: nowrap; 
}

.phone-img {
  width: 40px; 
  height: auto; 
  margin-top: 6px;
  margin-left: 20%;
  margin-right: 5%;
  font-size: x-large;
}

.images img { 
  width: 180px;
  height: auto;
  border-radius: 20px;
  
}

.images { 
  display: flex; 
  justify-content: flex-end; 
  align-items: flex-start; 
  gap: 20px;
  margin-top: 5px;
  position: absolute; 
  top: 51%; 
  right: 11%; 
  transform: translateY(-50%); 
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.images-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.images-column:nth-child(even) {
  margin-right: 20px; 
  margin-top: 55px;
}

.contact-link {
  color: white;
  display: flex; 
  align-items: center; 
  margin-right: 70%;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
  transition: transform 0.3s ease; 
}

.contact-link:hover {
  transform: translateY(-3px); 
}

.card-scroll-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 300px; 
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  width: 55%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-image {
  width: 100px; 
  height: auto;
  float: left;
  margin-right: 10px;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
}

.card1 {
  background-color: #201e1e;
  
  margin-left: 5%;
}

.card2 {
  background-color: #201e1e;
  margin-left: 39%;
}

.card3 {
  background-color: #201e1e;
  margin-left: 5%;

}



